/* ====== CSS Reset Global ====== */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* 1. Variáveis de tema */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: "Source Sans 3", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 2. Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family)
}

/* 3. Reset de elementos padrões */
html,
body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

/* 4. Acessibilidade e aparência */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* 5. Lista limpa */
ul,
ol {
  list-style: none;
}

/* 6. Tema escuro via prefers-color-scheme */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
